<a href="https://colab.research.google.com/github/jcamachocasero/Data-Science/blob/master/00-Seaborn-in-a-nutshell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Seaborn in a Nutshell

In [4]:
import seaborn  as sns
%matplotlib inline

**Data**

In [8]:
tips = sns.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

distplot

In [13]:
sns.distplot(tips['total_bill'],kde=True,bins=30)
#set kde=False to hide the courbe